#bonus-text-field {
    -fx-background-color: #ffffff;
}

#payment-bonus-text-field {
    -fx-background-color: #ebebeb;
}

#profit19-text-field {
    -fx-background-color: #d7d7d7;
}

#profit-text-field {
    -fx-background-color: #c3c3c3;
}

#text-field-1 {
    -fx-background-color: #ff7800;
}

#text-field-2 {
    -fx-background-color: #f57b00;
}

#text-field-3 {
    -fx-background-color: #eb7000;
}

#text-field-4 {
    -fx-background-color: #e16c00;
}

#text-field-5 {
    -fx-background-color: #d76c00;
}

#text-field-6 {
    -fx-background-color: #afafaf;
}

#points-text-field {
    
    -fx-background-color: #afafaf;
}



