#bonus-text-field {
    -fx-background-color: #ffffff;
}

#payment-bonus-text-field {
    -fx-background-color: #ebebeb;
}

#profit19-text-field {
    -fx-background-color: #ff321e;
}

#profit-text-field {
    -fx-background-color: #c3c3c3;
}

#text-field-1 {
    -fx-background-color: #ff321e;
}

#text-field-2 {
    -fx-background-color: #f5321e;
}

#text-field-3 {
    -fx-background-color: #eb321e;
}

#text-field-4 {
    -fx-background-color: #e1321e;
}

#text-field-5 {
    -fx-background-color: #d7321e;
}

#text-field-6 {
    -fx-background-color: #afafaf;
}

#points-text-field {
    
    -fx-background-color: #afafaf;
}



